CREATE OR ALTER procedure [dbo].[getPrintFormat] 
--DECLARE
@vchrno varchar(20),
@division varchar(10),
@phiscalid varchar(10), 
@isReprint BIT = 0
AS 
BEGIN
--SELECT @vchrno = 'TI32-MMD-80/81', @DIVISION = 'MMD', @PHISCALID = '80/81'

IF OBJECT_ID('TEMPDB..#RMD_TRNMAIN') IS NOT NULL DROP TABLE #RMD_TRNMAIN
IF OBJECT_ID('TEMPDB..#RMD_TRNPROD') IS NOT NULL DROP TABLE #RMD_TRNPROD

SELECT VCHRNO ,DIVISION ,CHALANNO ,TRNDATE ,BSDATE ,TRNTIME ,TOTAMNT ,DCAMNT ,DCRATE ,VATAMNT ,NETAMNT ,ADVANCE ,TRNMODE ,BILLTO ,BILLTOADD ,TRNUSER ,VATBILL ,DELIVERYDATE ,DELIVERYTIME ,ORDERS ,REFORDBILL ,INDDIS ,CREBATE ,CREDIT ,DUEDATE ,TRNAC ,PARAC ,PARTRNAMNT ,RETTO ,REFBILL ,CHEQUENO ,CHEQUEDATE ,REMARKS ,POST ,POSTUSER ,FPOSTUSER ,TERMINAL ,SHIFT ,EXPORT ,CHOLDER ,CARDNO ,EditUser ,MEMBERNO ,MEMBERNAME ,EDITED ,TAXABLE ,NONTAXABLE ,VMODE ,BILLTOTEL ,BILLTOMOB ,TRN_DATE ,BS_DATE ,STAX ,TOTALCASH ,TOTALCREDIT ,TOTALCREDITCARD ,TOTALGIFTVOUCHER ,TENDER ,CHANGE ,CardTranID ,ReturnVchrID ,TranID ,VoucherStatus ,VoucherType ,PRESCRIBEBY ,DISPENSEBY ,RECEIVEBY ,Edate ,STATUS ,CONFIRMEDBY ,CONFIRMEDTIME ,PhiscalID ,Stamp ,ROUNDOFF ,Customer_Count ,DBUSER ,HOSTID ,VNUM ,TOTALREBATE ,DISVALUE ,STAXVALUE ,TOTALFLATDISCOUNT ,TOTALINDDISCOUNT ,TOTALLOYALTY ,TOTALPROMOTION ,NETWITHOUTROUNDOFF ,SALESMANID ,COSTCENTER ,guid ,JOBNO ,MWAREHOUSE ,POSTID, '' ParkingCode 
INTO #RMD_TRNMAIN 
FROM TRNMAIN 
WHERE VCHRNO = @VCHRNO AND DIVISION = @DIVISION AND PHISCALID = @PHISCALID 

UNION ALL

SELECT VCHRNO ,DIVISION ,CHALANNO ,TRNDATE ,BSDATE ,TRNTIME ,TOTAMNT ,DCAMNT ,DCRATE ,VATAMNT ,NETAMNT ,ADVANCE ,TRNMODE ,BILLTO ,BILLTOADD ,TRNUSER ,VATBILL ,DELIVERYDATE ,DELIVERYTIME ,ORDERS ,REFORDBILL ,INDDIS ,CREBATE ,CREDIT ,DUEDATE ,TRNAC ,PARAC ,PARTRNAMNT ,RETTO ,REFBILL ,CHEQUENO ,CHEQUEDATE ,REMARKS ,POST ,POSTUSER ,FPOSTUSER ,TERMINAL ,SHIFT ,EXPORT ,CHOLDER ,CARDNO ,EditUser ,MEMBERNO ,MEMBERNAME ,EDITED ,TAXABLE ,NONTAXABLE ,VMODE ,BILLTOTEL ,BILLTOMOB ,TRN_DATE ,BS_DATE ,STAX ,TOTALCASH ,TOTALCREDIT ,TOTALCREDITCARD ,TOTALGIFTVOUCHER ,TENDER ,CHANGE ,CardTranID ,ReturnVchrID ,TranID ,VoucherStatus ,VoucherType ,PRESCRIBEBY ,DISPENSEBY ,RECEIVEBY ,Edate ,STATUS ,CONFIRMEDBY ,CONFIRMEDTIME ,PhiscalID ,Stamp ,ROUNDOFF ,Customer_Count ,DBUSER ,HOSTID ,VNUM ,TOTALREBATE ,DISVALUE ,STAXVALUE ,TOTALFLATDISCOUNT ,TOTALINDDISCOUNT ,TOTALLOYALTY ,TOTALPROMOTION ,NETWITHOUTROUNDOFF ,SALESMANID ,COSTCENTER ,guid ,JOBNO ,MWAREHOUSE ,POSTID, '' ParkingCode 
FROM ABBMAIN 
WHERE VCHRNO = @VCHRNO AND DIVISION = @DIVISION AND PHISCALID = @PHISCALID 

UNION ALL

SELECT VCHRNO ,DIVISION ,CHALANNO ,TRNDATE ,BSDATE ,TRNTIME ,TOTAMNT ,DCAMNT ,DCRATE ,VATAMNT ,NETAMNT ,ADVANCE ,TRNMODE ,BILLTO ,BILLTOADD ,TRNUSER ,VATBILL ,DELIVERYDATE ,DELIVERYTIME ,ORDERS ,REFORDBILL ,INDDIS ,CREBATE ,CREDIT ,DUEDATE ,TRNAC ,PARAC ,PARTRNAMNT ,RETTO ,REFBILL ,CHEQUENO ,CHEQUEDATE ,REMARKS ,POST ,POSTUSER ,FPOSTUSER ,TERMINAL ,SHIFT ,EXPORT ,CHOLDER ,CARDNO ,EditUser ,MEMBERNO ,MEMBERNAME ,EDITED ,TAXABLE ,NONTAXABLE ,VMODE ,BILLTOTEL ,BILLTOMOB ,TRN_DATE ,BS_DATE ,STAX ,TOTALCASH ,TOTALCREDIT ,TOTALCREDITCARD ,TOTALGIFTVOUCHER ,TENDER ,CHANGE ,CardTranID ,ReturnVchrID ,TranID ,VoucherStatus ,VoucherType ,PRESCRIBEBY ,DISPENSEBY ,RECEIVEBY ,Edate ,STATUS ,CONFIRMEDBY ,CONFIRMEDTIME ,PhiscalID ,Stamp ,ROUNDOFF ,Customer_Count ,DBUSER ,HOSTID ,VNUM ,TOTALREBATE ,DISVALUE ,STAXVALUE ,TOTALFLATDISCOUNT ,TOTALINDDISCOUNT ,TOTALLOYALTY ,TOTALPROMOTION ,NETWITHOUTROUNDOFF ,SALESMANID ,COSTCENTER ,guid ,JOBNO ,MWAREHOUSE ,POSTID, '' ParkingCode 
FROM PREMAIN 
WHERE VCHRNO = @VCHRNO AND DIVISION = @DIVISION AND PHISCALID = @PHISCALID 

SELECT VCHRNO,CHALANNO,DIVISION,MCODE,HS_CODE,UNIT,Quantity,RealQty,AltQty,RATE,AMOUNT,DISCOUNT,VAT,REALRATE,EXPORT,IDIS,OPQTY,REALQTY_IN,ALTQTY_IN,WAREHOUSE,REFBILLQTY,SPRICE,EXPDATE,REFOPBILL,ALTUNIT,TRNAC,PRATE,VRATE,ALTRATE,VPRATE,VSRATE,TAXABLE,NONTAXABLE,INVRATE,EXRATE,NCRATE,CRATE,SNO,CUSTOM,WEIGHT,DRATE,CARTON,INVOICENO,ISSUENO,BC,GENERIC,BATCH,MFGDATE,MANUFACTURER,SERVICETAX,BCODEID,VoucherType,SALESMANID,PhiscalID,STAMP,ITEMDESC,DNID,PROMOTION,LOYALTY,INDDISCOUNT,FLATDISCOUNT,NETAMOUNT,ADDTIONALROW,COSTCENTER,ISVAT,PRODCONDITION,PRODMODE,ITEMTYPE,RECEIVEDTYPE,REMARKS,ISSERVICECHARGE,SCHEMESAPPLIED 
INTO #RMD_TRNPROD 
FROM TRNPROD_SUMMARY 
WHERE VCHRNO = @VCHRNO AND DIVISION = @DIVISION AND PHISCALID = @PHISCALID 

UNION ALL

SELECT VCHRNO,CHALANNO,DIVISION,MCODE,HS_CODE,UNIT,Quantity,RealQty,AltQty,RATE,AMOUNT,DISCOUNT,VAT,REALRATE,EXPORT,IDIS,OPQTY,REALQTY_IN,ALTQTY_IN,WAREHOUSE,REFBILLQTY,SPRICE,EXPDATE,REFOPBILL,ALTUNIT,TRNAC,PRATE,VRATE,ALTRATE,VPRATE,VSRATE,TAXABLE,NONTAXABLE,INVRATE,EXRATE,NCRATE,CRATE,SNO,CUSTOM,WEIGHT,DRATE,CARTON,INVOICENO,ISSUENO,BC,GENERIC,BATCH,MFGDATE,MANUFACTURER,SERVICETAX,BCODEID,VoucherType,SALESMANID,PhiscalID,STAMP,ITEMDESC,DNID,PROMOTION,LOYALTY,INDDISCOUNT,FLATDISCOUNT,NETAMOUNT,ADDTIONALROW,COSTCENTER,ISVAT,PRODCONDITION,PRODMODE,ITEMTYPE,RECEIVEDTYPE,REMARKS,ISSERVICECHARGE,SCHEMESAPPLIED 
FROM ABBPROD_SUMMARY 
WHERE VCHRNO = @VCHRNO AND DIVISION = @DIVISION AND PHISCALID = @PHISCALID 

UNION ALL

SELECT VCHRNO,CHALANNO,DIVISION,MCODE,HS_CODE,UNIT,Quantity,RealQty,AltQty,RATE,AMOUNT,DISCOUNT,VAT,REALRATE,EXPORT,IDIS,OPQTY,REALQTY_IN,ALTQTY_IN,WAREHOUSE,REFBILLQTY,SPRICE,EXPDATE,REFOPBILL,ALTUNIT,TRNAC,PRATE,VRATE,ALTRATE,VPRATE,VSRATE,TAXABLE,NONTAXABLE,INVRATE,EXRATE,NCRATE,CRATE,SNO,CUSTOM,WEIGHT,DRATE,CARTON,INVOICENO,ISSUENO,BC,GENERIC,BATCH,MFGDATE,MANUFACTURER,SERVICETAX,BCODEID,VoucherType,SALESMANID,PhiscalID,STAMP,ITEMDESC,DNID,PROMOTION,LOYALTY,INDDISCOUNT,FLATDISCOUNT,NETAMOUNT,ADDTIONALROW,COSTCENTER,ISVAT,PRODCONDITION,PRODMODE,ITEMTYPE,RECEIVEDTYPE,REMARKS,ISSERVICECHARGE,SCHEMESAPPLIED 
FROM PREPROD 
WHERE VCHRNO = @VCHRNO AND DIVISION = @DIVISION AND PHISCALID = @PHISCALID 

DECLARE @tableNo VARCHAR(25), @pax int, @syncLoyalty TINYINT

SELECT @syncLoyalty = SyncLoyalty FROM SETTING

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'RMD_KOTMAIN_STATUS') 
   AND EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME = 'RMD_KOTMAIN')
SELECT @tableNo = KMS.TABLENO, @pax = COALESCE(KMS.PAX, KM.PAX) FROM RMD_KOTMAIN_STATUS KMS JOIN RMD_KOTMAIN KM ON KMS.KOTID= KM.KOTID WHERE KMS.[STATUS] = 'BILLED' AND KMS.REMARKS = @vchrno


select a.trnuser, 
cast((select sum(Quantity) from #RMD_TRNPROD where addtionalrow=0) as decimal(18,2)) totqty, 
a.vchrno, a.division, chalanno,convert(varchar(10),a.trndate,101) trndate,CONVERT(varchar(15),CAST(trntime AS TIME),100) trntime,
cast(CASE WHEN A.VoucherType IN ('TI', 'CN', 'ES') THEN totamnt ELSE (SELECT SUM(CASE WHEN ISVAT = 1 THEN TP.AMOUNT * 1.13   ELSE TP.AMOUNT   END) FROM #RMD_TRNPROD TP WHERE TP.VCHRNO = A.VCHRNO) END as decimal(18,2)) totamnt, 
CAST(CASE WHEN A.VoucherType IN ('TI', 'CN', 'ES') THEN dcamnt else (SELECT SUM(CASE WHEN ISVAT = 1 THEN TP.DISCOUNT * 1.13 ELSE TP.DISCOUNT END) FROM #RMD_TRNPROD TP WHERE VCHRNO = A.VCHRNO) END AS decimal(20,2)) dcamnt,
CAST(ISNULL(A.DCAMNT, 0) / (CASE WHEN ISNULL(A.TOTAMNT, 0) = 0 THEN 1 ELSE A.TOTAMNT END) * 100 AS DECIMAL(5,2)) dcrate,
cast(vatamnt  as decimal(18,2)) vatamnt,cast(netamnt  as decimal(18,2)) netamnt,cast(tender  as decimal(18,2)) tender,cast(change  as decimal(18,2)) change,cast(advance  as decimal(18,2)) advance,trnmode, billto, billtoadd billadd, trnuser,refordbill,duedate,b.acname trnac,
c.acname parac,refbill,a.remarks,st.NAME terminal,cast(taxable  as decimal(18,2)) taxable,cast(nontaxable  as decimal(18,2)) nontaxable,billtotel,
billtotel billpan,vouchertype,prescribeby,dispenseby,receiveby,confirmedby,CONFIRMEDTIME,mwarehouse,cast(disvalue  as decimal(18,2)) disvalue,cast(staxvalue  as decimal(18,2)) staxvalue,cast(stax  as decimal(18,2)) stax,
cast(totalflatdiscount  as decimal(18,2)) totalflatdiscount,cast(totalinddiscount  as decimal(18,2)) totalinddiscount,cast(totalloyalty  as decimal(18,2)) totalloyalty,
cast(totalpromotion  as decimal(18,2)) totalpromotion,cast(Netwithoutroundoff  as decimal(18,2)) Netwithoutcastoff,a.terminal,convert(varchar(10),bsdate,101) bsdate,ORDERS tableno, ISNULL(NULLIF(di.COMADD,''),(SELECT [ADDRESS] FROM COMPANY))  DIVADD ,ISNULL(di.REMARKS,(SELECT TELA FROM COMPANY))  contact , 'Contact:' +ISNULL(di.REMARKS,(SELECT TELA FROM COMPANY))  contact_full
,CONVERT(NUMERIC(8,2), MGT.MEMTOTPOINT) pointearned
,CONVERT(NUMERIC(8,2), MGT.MEMREDEEMPOINT) pointredeemed
,CONVERT(NUMERIC(10,2),  IIF(@syncLoyalty = 0, 
    (SELECT sum(MEMTOTPOINT - MEMREDEEMPOINT) FROM MEMGRADETRAN_VIEW WHERE MEMBERID = A.MEMBERNO AND TRNDATE <= A.TRNDATE), 
    MGT.PointBeforeInvoice + MGT.MEMTOTPOINT - MGT.MEMREDEEMPOINT)) total_point, parkingcode, COALESCE(@pax, CONVERT(int, A.customer_count)) customer_count, @tableNo tableno, a.billtomob  , SL.NAME AS SALESMANID

FROM #RMD_TRNMAIN a 
LEFT JOIN rmd_aclist b ON a.trnac = b.acid 
LEFT JOIN RMD_ACLIST c ON a.parac = c.acid 
LEFT JOIN division d ON a.billto = d.initial 
LEFT JOIN division d2 ON a.billtoadd = d2.initial
LEFT JOIN SALESTERMINAL st ON a.TERMINAL = st.INITIAL
LEFT JOIN MEMGRADETRAN MGT ON A.VCHRNO = MGT.VCHRNO
LEFT JOIN salesman SL ON SL.SALESMANID = A.SALESMANID 
LEFT JOIN DIVISION di ON a.DIVISION = di.initial

select A.vchrno,A.chalanno,A.mcode,b.menucode, CONCAT(ISNULL(A.ITEMDESC, b.DESCA), ' ', CHAR(13), CHAR(10), 'HSC:', COALESCE(NULLIF(HS_CODE,''), B.HSNCODE)) ITEMDESC, COALESCE(NULLIF(HS_CODE,''), B.HSNCODE) HS_CODE, a.unit, 
cast(a.quantity  as decimal(18,2)) quantity, 
cast(CASE WHEN TM.VATBILL = 1 OR A.VoucherType IN ('TI', 'CN', 'ES') OR A.ISVAT = 0 THEN a.rate ELSE a.RATE * 1.13 END  as decimal(18,2)) rate,
a.altunit, cast(COALESCE(NULLIF(a.altqty, 0), a.altqty_in)  as decimal(18,2)) altqty,
cast(CASE WHEN TM.VATBILL = 1 OR A.VoucherType IN ('TI', 'CN', 'ES') OR A.ISVAT = 0 THEN a.altrate ELSE a.altrate * 1.13 END  as decimal(18,2)) altrate,
cast(CASE WHEN TM.VATBILL = 1 OR A.VoucherType IN ('TI', 'CN', 'ES') OR A.ISVAT = 0 THEN A.AMOUNT ELSE A.AMOUNT * 1.13 END as decimal(18,2)) amount,
cast(CASE WHEN TM.VATBILL = 1 OR A.VoucherType IN ('TI', 'CN', 'ES') OR A.ISVAT = 0 THEN A.discount ELSE A.DISCOUNT * 1.13 END as decimal(18,2)) discount,
cast(a.vat  as decimal(18,2)) vat,a.idis,a.warehouse,cast(A.taxable  as decimal(18,2)) taxable,cast(A.nontaxable  as decimal(18,2)) nontaxable,cast(a.exrate as decimal(18,3)) exrate
,cast(a.ncrate  as decimal(18,2)) ncrate,a.bc,a.batch,
a.mfgdate, a.manufacturer,cast(a.servicetax  as decimal(18,2)) servicetax,a.bcodeid,cast(a.promotion  as decimal(18,2)) promotion,cast(a.loyalty  as decimal(18,2)) loyalty
,cast(a.inddiscount  as decimal(18,2)) inddiscount, cast(a.flatdiscount  as decimal(18,2)) flatdiscount,cast(A.NETAMOUNT as decimal(18,2)) netamount,A.costcenter, sno 
from #RMD_TRNPROD a 
inner join menuitem b on a.mcode=b.mcode
JOIN #RMD_TRNMAIN TM ON A.VCHRNO = TM.VCHRNO AND A.DIVISION = TM.DIVISION AND A.PhiscalID = TM.PhiscalID
order by sno desc;

SELECT * FROM
(
    SELECT distinct M2.MCODE MGROUP,'' parent, 0 IsDetail, '' mcode , '' menucode, '___  '+M2.Desca+'  ___' desca, '' quantity FROM #RMD_TRNPROD IP 
    INNER JOIN MENUITEM M1 ON IP.MCODE=M1.MCODE 
    INNER JOIN MENUITEM M2 ON M1.MGROUP=M2.MCODE
    union all
    select  MGROUP,parent, IsDetail,  mcode ,  menucode, desca, quantity from
    (
        select distinct m2.MCODE parent,m1.MGroup,'' subgroup ,0 IsDetail, '' mcode, '' menucode, '* '+m2.desca+' :-'  desca,'' quantity from #RMD_TRNPROD IP
        INNER JOIN MENUITEM M1 ON IP.MCODE=M1.MCODE inner join MENUITEM m2 on m1.PARENT=m2.mcode
        union all
        select  M1.PARENT parent,M1.MGroup,m2.desca subgroup , 1 IsDetail, IP.mcode ,M1.MENUCODE menucode, M1.DESCA desca,cast(cast(IP.Quantity  as decimal(18,2)) as varchar) quantity from #RMD_TRNPROD IP
        INNER JOIN MENUITEM M1 ON IP.MCODE=M1.MCODE inner join MENUITEM m2 on m1.PARENT=m2.mcode inner join menuitem m3 on m1.MGROUP=m3.mcode  where  IP.ADDTIONALROW=0
    ) P 
) A ORDER BY MGROUP ,parent, IsDetail, desca;

END